.btn-blck {
    background-color: #000000];
    padding: 15px 20px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    background-color: #FDF7E4;
    font-family: 'fantasy;', sans-serif;
}

.btn-buy{
  background-color: #000000];
    padding: 15px 20px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    background-color: #FDF7E4;
    font-family: 'fantasy;', sans-serif;   
}